<%inherit file="/base.html"/>
<%namespace name="f" file="/forms.html"/>

<%def name="header()">
    ${parent.header()}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#rando').AsyncForm({
            onSuccess: function(data){
                $.log('Nice job. You posted:', data);
            }
        });
        
        $('.async-link').click(function(e){
            $.post(e.target.href, {}, function(data){
                $.warn('WTF. should not get here', data);
            }, 'json');
            return false;
        });
    });
    </script>
</%def>

<h1>Async Request Exercise</h1>

<p>Make sure errors from the app and the middleware get here to the front end.</p>

<h2>Form validation errors</h2>
<p>On failure, it will return a 400 response and fill out the errors in the form.
On success, it will generate a couple duplicate queries and they will be visible in
the debug bar.</p>

<form id="rando" action="${h.url_for(controller='test', action='rando_form')}" method="post">
    ${f.text_chunk('a_number', sublabel='any number')}
    ${f.text_chunk('a_string', sublabel='less than 20 chars!')}
    ${f.submit('Submit')}
</form>

<h2>Exceptions and app errors</h2>

<p><a href="${h.api_url('error', 'explode_no_auth', type='app')}" class="async-link">AppException (should result in 500)</a></p>

<p>
    <a href="${h.api_url('error', 'explode_no_auth', type='client')}" class="async-link">
        ClientException(400)
    </a> ;
    <a href="${h.api_url('error', 'explode_no_auth', type='client404')}" class="async-link">
        ClientException(404)
    </a> ;
    <a href="${h.api_url('error', 'explode_no_auth', type='client403')}" class="async-link">
        ClientException(403)
    </a>
</p>

<p><a href="${h.api_url('error', 'explode_no_auth', type='explosion')}" class="async-link">
    Unintentional (divide by 0)
</a></p>

<p><a href="${h.api_url('error', 'explode_no_auth', type='http')}" class="async-link">
    HTTPException(abort(404))
</a></p>

<p><a href="${h.api_url('error', 'explode_no_auth', type='none')}" class="async-link">
    None!
</a></p>